<div ng-hide="tictactoe">
	<h1>Choose Your Game</h1>
	<h2 ng-click="gameSelect()">Tic-Tac-Toe</h2>
</div>

<div ng-show="tictactoe">
	<h2 style="color : #1E9382;font-size: 2.5em">Tic Tac Toe</h2></br>

	<div ng-hide="multiplayerBegin">
		<div ng-hide="playerElementSelected || startingGame" class="online">
			<h3>Players Online</h3>
			<div class="small">
				<input type="search" name="onlinePlayer" placeholder="Search Your Opponent"
				ng-model="search" ng-required="false"/>		 
				<div ng-repeat="user in users | filter:search | limitTo:7 ">
					<p ng-if="user.status == 'online' && user.name != fullname">
					<a ng-click="startMultiplayer(user.name)" href="">{{ user.name }}</a></p>
				</div>
				<span ng-if="playersOnline > 0">+{{ playersOnline }} more</span>
			</div>
		</div>
		<div class="game">
			<div class="incoming" >
				<div ng-hide="playerElementSelected">
					<p ng-hide="multiplayerRequest">Awaiting User Connection...</p>
					<div ng-show="multiplayerRequest">
						<div ng-show="sendingConnect">
							<p ng-if="!rejected" ng-hide="startingGame">Sending Play Request To </br>
							<span>{{ sendingConnect }}</span></p>
							<p ng-show="rejected"><span class="icon ion-sad-outline"></span> Request Rejected</p>
							<p ng-show="startingGame">Starting Game..
							<span>{{ sendingConnect }}</span> is choosing from<span>X </span>/<span>O</span></p>
						</div>
						<div ng-hide="sendingConnect">
							<p>Incoming Play Request From <span>{{ incomingConnect }}</span></p>
							<button class="btn tooltip icon"
								ng-click="acceptGameRequest()"><img ng-src="images/icons/check.png">
								<span>Accept</span></button>
							<button class="btn tooltip icon"
								ng-click="rejectGameRequest()"><img ng-src="images/icons/close.png">
								<span>Reject</span></button>
						</div>
					</div>
				</div>
				<div ng-show="playerElementSelected">
					<p>Choose What You Want to Be ?</p>
					<button class="btn tooltip icon" 
					ng-click="playerChoice('X')"><img ng-src="images/icons/close.png"></button>
					<button class="btn tooltip icon" 
					ng-click="playerChoice('O')"><img ng-src="images/icons/o.png"></button>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="multiplayerBegin">
		<div ng-show="multiplayerBegin" class="online"></br>
		<h3>Player Scores</h3>
			<div class="small">
				<div ng-repeat="score in Scores">
					<div ng-if="score.name == fullname">
						<h2>{{score.name}}</h2></br>
						<p>Wins : {{score.wins}}</p>
						<p>Lost : {{score.lost}}</p>
					</div>
					<div ng-if="score.name == (incomingConnect || sendingConnect)">
						<h2>{{score.name}}</h2></br>
						<p>Wins : {{score.wins}}</p>
						<p>Lost : {{score.lost}}</p>
					</div></br>
				</div>
			</div>
		</div>
		<div class="multi-display">
			<h3>{{ fullname }} ({{ playMode }}) <span> VS</span> {{ incomingConnect || sendingConnect}} 
			({{ opponentPlaymode }})</h3>
		</div>
		<div ng-if="turnTime > 0 && turnTime < 10" class="turn-display">
			<p>Your Turn Ends in <span>{{ turnTime }}</span>Secs</p>
		</div>
		<div ng-hide="swapReq" class="game">
			<div class="inner">
			<a ng-model="one" href="" ng-click="boxClick(1)" ng-class="oneWinner">{{ one }}</a></div>
			<div class="inner">
			<a ng-model="two" href="" ng-click="boxClick(2)" ng-class="twoWinner">{{ two }}</a></div>
			<div class="inner">
			<a ng-model="three" href="" ng-click="boxClick(3)" ng-class="threeWinner">{{ three }}</a></div>
			<div class="inner">
			<a ng-model="four" href="" ng-click="boxClick(4)" ng-class="fourWinner">{{ four }}</a></div>
			<div class="inner">
			<a ng-model="five" href="" ng-click="boxClick(5)" ng-class="fiveWinner">{{ five }}</a></div>
			<div class="inner">
			<a ng-model="six" href="" ng-click="boxClick(6)" ng-class="sixWinner">{{ six }}</a></div>
			<div class="inner">
			<a ng-model="seven" href="" ng-click="boxClick(7)" ng-class="sevenWinner">{{ seven }}</a></div>
			<div class="inner">
			<a ng-model="eight" href="" ng-click="boxClick(8)" ng-class="eightWinner">{{ eight }}</a></div>
			<div class="inner">
			<a ng-model="nine" href="" ng-click="boxClick(9)" ng-class="nineWinner">{{ nine }}</a></div>
		</div>
			
		<div ng-show="swapReq" class="game">
			<div class="incoming">
				<div ng-if="playMode == 'O'">
					<p ng-hide="rejected">Sending Request To <span>{{ incomingConnect || sendingConnect }}
					</span>to SWAP <span>O</span> with <span>X</span></p>
					<p ng-show="rejected"><span class="icon ion-sad-outline"></span> Request Rejected</p>
				</div>
				<div ng-if="playMode == 'X'">
					<p>Incoming Request From <span>{{ incomingConnect || sendingConnect }}
					</span>to SWAP <span>X</span> with <span>O</span></p>
					<button class="btn tooltip"
						ng-click="swapConfirm(true)"><img ng-src="images/icons/check.png">
						<span>Accept</span></button>
					<button class="btn tooltip"
						ng-click="swapConfirm(false)"><img ng-src="images/icons/close.png">
						<span>Reject</span></button>
				</div>
			</div>
		</div>

			<h3 ng-show="xwin || owin">{{ winner }} - Won the game</h3>
			<h3 ng-show="draw">Damn !!! its a DRAW...</h3>
			<button class="btn tooltip icon" 
				ng-click="allGame()"><img ng-src="images/icons/back.png"><span>all games</span></button>
			<button class="btn tooltip icon" 
				ng-click="swapRequest()" ng-if="playMode == 'O' && gameFinish == true">
				<img ng-src="images/icons/swap.png"><span>Request-Swap X</span></button>
			<button class="btn tooltip icon" 
				ng-if="gameFinish == true" ng-click="setgameReset()">
				<img ng-src="images/icons/refresh.png"><span>reset game</span></button>
		</div>

	</div>
</div>